@media screen and (min-width: 992px){
	.goods-col{
		border-left: 1px solid #000;
	}
}

@

.home-row{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.home-cols{
	min-height: 98vh;	
}

.about-col{
	border-right: 2px solid #F7F7FF;
	background: #F7F7FF;
	padding: 1em .3em;
}

.about-col h3{
	margin-left: 8px;
	margin-bottom: 1em;
	font-family: 'Monsterrat', sans-serif;
}

.about-col p, .about-col ul{
	margin: 1em auto;
	font-size: 1.1em;
}

/* Last unsuccessfully tried 'vertical-align: ;' to eliminate the gaps between home-row .about-col .goods-col and services-row. Need to eliminate gaps with responsive solution */

.goods-col{
	padding: 0;

}

.goods-col div{
	margin: 0;
}

.goods-top{
	background: #EEEBD3;
	color: #000;
	padding: 1em;
	border-bottom: 1px solid #000;
}

.goods-top h4{
	
	text-align: center;
}

.goods-col{
	background: RGBA(23, 55, 83, .9);	
	color: RGBA(247, 247, 255, 1.00);
}

.goods-col ul{
	font-size: 1.4em;
	font-weight: bold;
	list-style: none;
	letter-spacing: 2px;
	text-align: center;
}