/* add media queries to set text width (.about-col p, .about-col ul; .reviews-row p; .services-row p, .services-row ul)for screens larger than mobile */

/*
Milestone mtg notes (5/28)

add bootstrap caurosel in header (3-4)
add bootstrap caurosel in reviews (5)
build contact lightbox/modal (mobile responsive)
add google maps API to contact modal (pending google verification w/ A Ray)

waiting on
	Img files (Caurosel, Team member, misc)
	Google maps go ahead
	1and1 (hosting) credentials 

Need to find
	Icons ('What to expect' steps)
*/

body{

	/* hide demo (live @ mcraed.github.io) */
	
	
	width: 100%;
	background: url('../images/orlova-maria-107935.jpg') no-repeat center center fixed;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
}

.mca{
	width: 100%;
}

.head-row{
	width: 100vw;
	height: 12vh;
	margin: 0 auto;
	background: RGBA(255, 255, 250, .8);
}

.head-row span{
	font-family: 'Monsterrat', sans-serif;
	font-size: 1.3em;
}

.anim-logo{
	display: inline-block;
	width: 6em;
	height: 4em;
	margin: 1.8vh 1.5em 1.8vh 4em;
	opacity: 1;
	/* slides from top on page load with js */
	position: relative;
	/*top: -23em;*/
}

/* nav styling 	*/

.navbar{
	margin-bottom: 0;
	background: RGBA(23, 55, 83, 1.00);
	border: none;
	/*border-color: #FFFFFA;*/
}

.navbar-default .navbar-brand{
	color: #F7F7FF;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.navbar-default .navbar-brand:hover{
	text-decoration: none;
	color: #F7F7FF;
}

.nav-list{
	margin-right: 7em;
}

/* nav link styling */
.navbar-default .navbar-nav li a{
	color: #F7F7FF;
}
/* Home link bg */
.navbar-default .navbar-nav .active a{
	background: #F7F7FF;
	color: #333;
}

.navbar-default .navbar-nav .active a:hover{
	background: #F7F7FF;
}

.navbar-default .navbar-nav li a:hover{
	background: #F7F7FF;
}

.motto{
	display: inline-block;
}

/* **** BACK TO TOP CSS (http://jsfiddle.net/gilbitron/Lt2wH/) **** */

#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  background: #f5f5f5;
  color: #444;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

#back-to-top:hover {
  background: #e9ebec;
}
#back-to-top.show {
  opacity: 1;
}

.home-row{
	border-top: 2px solid black;
}

.home-cols{
	height: 96vh;
}

.about-col{
	border-right: 2px solid #F7F7FF;
	background: #F7F7FF;
}

.about-col h3{
	margin-left: 8px;
	margin-bottom: 1em;
	font-family: 'Monsterrat', sans-serif;
}

.about-col p, .about-col ul{
	width: 50em;
	margin: 1em auto;
	font-size: 1.1em;
}

.goods-col{
	padding: 0;
	background: RGBA(23, 55, 83, .9);	
	color: RGBA(247, 247, 255, 1.00);
}

.goods-top{
	margin: 0 auto;
	background: RGBA(89, 62, 45, 1.00);
	padding: 1em;
}

.goods-col h4{
	margin: 0;
	text-align: center;
}

.goods-col ul{
	font-size: 1.4em;
	font-weight: bold;
	margin: 3vh auto;
	height: 100%;
	border-radius: 2px;
	list-style: none;
	letter-spacing: 2px;
	text-align: center;
}

.addr-2, .phone-n{
	font-size: 1.2em;
}

.maps-shot{
	width: 24em;
	height: 15em;
}

.reviews-row{
	height: 30vh;
	background: RGBA(191, 191, 191, .6);
}

.review p{
	width: 35vw;
	margin: 5vh auto;
}

.rev-name{
	text-align: right;
	position: relative;
	right: 5em;
}

.services-row{
	background: RGBA(247, 247, 255, 1.00);
	/*background: #fff;*/
}

.step-desc{
	height: 26em;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	margin: 1.5em 0;
	text-align: center;
}

.step-1{
	border-left: none;
}

.step-6{
	border-right: none;
}

.step-desc img{
	width: 4.5em;
	height: 4.5em;
	display: block;
	margin: 1em auto;
}

.step-desc h5{
	font-weight: bold;
	font-size: 1.15em;
}

.services-row ul{
	-webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 40px;
  column-gap: 40px;
  -moz-column-gap: 40px;
}

.services-row p, .services-row ul{
	width: 85em;
	margin: 1em auto;
}

.team-row{
	/*background: RGBA(247, 247, 255, 1.00);*/
}

.team-title{
	background: RGBA(191, 191, 191, .6);
}

.tm-profile{
	background: RGBA(247, 247, 255, 1.00);
	border: 1px solid #000;
}

/* keep eye on this - is <br clear="all" /> needed?  */
.tm-profile img{
	float: left;
	margin: 2em;
	border: 1px solid #000;
}


/* Contact lightbox/modal */
#lightbox {
  position:fixed;
  display: none;
  top:0; 
  left:0; 
  width:100%; 
  height:100%; 
  background: RGBA(000, 000, 000, .6);
}

#lightbox-content{
	width: 40em;
	height: 22em;
	margin: 25vh auto;
	background: #fff;
  box-shadow:0 0 25px #111;
  -webkit-box-shadow:0 0 25px #111;
  -moz-box-shadow:0 0 25px #111;
}
