@media screen and (max-width: 400px){
	.head-row{
		text-align: center;
	}

	.anim-logo{
		width: 3em;
		height: 3em;
		margin-left: 0;
	}

	.head-row span{
		font-size: .8em;
	}
}


body{
	max-width: 100vw;
	background: url('../images/orlova-maria-107935.jpg') no-repeat center center fixed;
	background-size: cover;
	font-family: 'Lato', sans-serif;
}

.head-row{
	height: 12vh;
	margin: 0 auto;
	background: RGBA(247, 247, 255, .8);
}

.head-row span{
	font-family: 'Monsterrat', sans-serif;
	font-size: 1.3em;
}

.anim-logo{
	display: inline-block;
	width: 6em;
	height: 4em;
	margin: 1.8vh 1.5em 1.8vh 4em;
	opacity: 1;
}

.footer{
	width: 100vw;
	height: 10vh;
	margin-top: 1em;
	background: RGBA(23, 55, 83, 1.00);
	color: RGBA(247, 247, 255, 1.00);
	text-align: center;
	border-top: 1px solid #000;
}

.footer span{
	display: inline-block;
	margin: 3vh auto;
	font-size: 1.2em;
}